<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <section id="content">
    <div class="bg-gradient py-5">
      <div class="container">
        <p class="txt_48px font-weight-bold text-white">
          НАШ<br>
          КАТАЛОГ<br>
          ТОВАРОВ<br>
        </p>
        <div class="row row-scroll py-5">
          <% for(var i = 0; i < 5; i++){ %>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/sb-model.svg" alt="">
              </a>
              <a class="text-white" href="#">Сборные модели</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/kraski.svg" alt="">
              </a>
              <a class="text-white" href="#">Краски</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/avd.svg" alt="">
              </a>
              <a class="text-white" href="#">AVD Models</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/smesi.svg" alt="">
              </a>
              <a class="text-white" href="#">Смеси для<br>нанесения эффектов</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/kraski.svg" alt="">
              </a>
              <a class="text-white" href="#">Краски</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/avd.svg" alt="">
              </a>
              <a class="text-white" href="#">AVD Models</a>
            </div>
            <div class="col-auto col-md-4 col-lg-3 d-inline-flex align-items-center mb-4">
              <a class="rub-icon-holder">
                <img src="./assets/img/icons/smesi.svg" alt="">
              </a>
              <a class="text-white" href="#">Смеси для<br>нанесения эффектов</a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
