<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <div class="sliderInner">
    <div class="carousel-inner">
      <div class="container">
        <div class="bread">
          <a href="/">Главная</a>  »  Способы доставки
        </div>
        <h1 class="slider-text">
          Спецпредложения
        </h1>
      </div>
      <img class="d-block w-100" src="./assets/img/headers/catalog.jpg" alt="">
    </div>
  </div>

  <%- include modules/filter.ejs %>


  <section id="content">
    <div class="bg-gray py-3 mobile-menu d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
              <i class="icon icon_burger"></i>
              <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 cata-left-menu">
            <div class="holder">
              <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
              <p class="h1">Каталог</p>
              <%- include elements/left-menu.ejs %>
              <p class="h3 mt-5">Важная информация</p>
              <%- include elements/left-info.ejs %>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row row-scroll mb-5">
              <span class="col col-auto font-weight-bold">Сортировать по:</span>
              <a class="col col-auto d-inline-block txt-c-gray-500" href="#">Наличию</a>
              <a class="col col-auto d-inline-block" href="#">Названию</a>
              <a class="col col-auto d-inline-block txt-c-gray-500" href="#">Цене ↑</a>
              <a class="col col-auto d-iexamplenline-block txt-c-gray-500" href="#">Цене ↓</a>
            </div>
            <%- include modules/models-scroll.ejs %>
            <div class="row row-scroll pt-4">
              <% for(var i = 0; i < 9; i++){ %>
                <div class="col col-xl-4 col-lg-6 col-md-8 col-11 mt-5 mb-3">
                  <%- include elements/item.ejs %>
                </div>
              <% } %>
            </div>
            <div class="page-holder text-center">
              <div class="py-3">
                <a class="next-page btn red" href="./assets/products.html" tabs="1" tabindex="1">Показать еще 36</a>
                <img class="next-page-loading" src="./assets/img/loader.gif" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
