<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <div class="sliderInner">
    <div class="carousel-inner">
      <div class="container">
        <div class="bread">
          <a href="/">Главная</a>  »  Способы доставки
        </div>
        <h1 class="slider-text">
          Способы доставки
        </h1>
      </div>
      <img class="d-block w-100" src="./assets/img/headers/delivery.jpg" alt="">
    </div>
  </div>




  <section id="content">
    <div class="bg-gray py-3 mobile-menu d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
              <i class="icon icon_burger"></i>
              <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 cata-left-menu">
            <div class="holder">
              <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
              <p class="h1">Каталог</p>
              <%- include elements/left-menu.ejs %>
              <p class="h3 mt-5">Важная информация</p>
              <%- include elements/left-info.ejs %>
            </div>
          </div>
          <div class="col-lg-9">
            <h2>ПОКАЗАТЬ КЛУБЫ</h2>
            <form action="" class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control autoComplete" type="text"
                         placeholder="Поиск по названиям..."
                         name="search"
                         data-url="./assets/city.json"
                         autocomplete="off">
                </div>
                <div class="col-md-4">
                  <input class="form-control autoComplete" type="text"
                         placeholder="Поиск по городам..."
                         name="search"
                         data-url="./assets/city.json"
                         autocomplete="off">
                </div>
                <div class="col-md-4">
                  <input type="submit" class="btn red cart ml-3" value="Искать">
                </div>
              </div>
            </form>
            <hr>
            <div class="one-club news-element">
              <a href="#">КЛУБ СТЕНДОВОГО МОДЕЛИРОВАНИЯ «ИСТОРИЧЕСКАЯ ДИОРАМА»</a>
              <div class="more">Россия, Москва, Москва г., ул. Маршала Кожедуба, д. 16, к. 1</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
              <a href="#">Узнать подробнее</a>
            </div>
            <div class="one-club news-element">
              <a href="#">КЛУБ СТЕНДОВОГО МОДЕЛИРОВАНИЯ «ИСТОРИЧЕСКАЯ ДИОРАМА»</a>
              <div class="more">Россия, Москва, Москва г., ул. Маршала Кожедуба, д. 16, к. 1</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
              <a href="#">Узнать подробнее</a>
            </div>
            <div class="one-club news-element">
              <a href="#">КЛУБ СТЕНДОВОГО МОДЕЛИРОВАНИЯ «ИСТОРИЧЕСКАЯ ДИОРАМА»</a>
              <div class="more">Россия, Москва, Москва г., ул. Маршала Кожедуба, д. 16, к. 1</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
              <a href="#">Узнать подробнее</a>
            </div>
            <div class="one-club news-element">
              <a href="#">КЛУБ СТЕНДОВОГО МОДЕЛИРОВАНИЯ «ИСТОРИЧЕСКАЯ ДИОРАМА»</a>
              <div class="more">Россия, Москва, Москва г., ул. Маршала Кожедуба, д. 16, к. 1</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
              <a href="#">Узнать подробнее</a>
            </div>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link pagination__start" href="#"></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link pagination__end" href="#"></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
