<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <div class="sliderInner">
    <div class="carousel-inner">
      <div class="container">
        <div class="bread">
          <a href="/">Главная</a>  »  Способы доставки
        </div>
        <h1 class="slider-text">
          Список городов с бесплатной доставкой
        </h1>
      </div>
      <img class="d-block w-100" src="./assets/img/headers/delivery.jpg" alt="">
    </div>
  </div>




  <section id="content">
    <div class="bg-gray py-3 mobile-menu d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
              <i class="icon icon_burger"></i>
              <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 cata-left-menu">
            <div class="holder">
              <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
              <p class="h1">Каталог</p>
              <%- include elements/left-menu.ejs %>
              <p class="h3 mt-5">Важная информация</p>
              <%- include elements/left-info.ejs %>
            </div>
          </div>
          <div class="col-lg-9">
            <h2>Список по алфавиту</h2>
            <div class="accordion" id="accordion">

              <div class="accordion__card">
                <div class="accordion__card__header" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  Города на буквуА
                </div>
                <div id="collapse1" class="accordion__card__body collapse show" data-parent="#accordion">
                  <ul>
                    <li>Агород1</li>
                    <li>Агород2</li>
                    <li>Агород3</li>
                    <li>Агород4</li>
                    <li>Агород5</li>
                    <li>Агород6</li>
                  </ul>
                </div>
              </div>

              <div class="accordion__card">
                <div class="accordion__card__header" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  Б
                </div>
                <div id="collapse2" class="accordion__card__body collapse" data-parent="#accordion">
                  <ul>
                    <li>Бгород1</li>
                    <li>Бгород2</li>
                    <li>Бгород3</li>
                    <li>Бгород4</li>
                    <li>Бгород5</li>
                    <li>Бгород6</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
