<!DOCTYPE html>
<html>
<head>
    <title>Demo Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
</section>
<section id="menu">
    <%- include modules/menu.ejs %>
</section>

<div class="sliderInner">
    <div class="carousel-inner">
        <div class="container">
            <div class="bread">
                <a href="/">Главная</a>  »  Способы доставки
            </div>
            <h1 class="slider-text">
                ОПТОВИКАМ
            </h1>
        </div>
        <img class="d-block w-100" src="./assets/img/headers/opt.jpg" alt="">
    </div>
</div>




<section id="content">
    <div class="bg-gray py-3 mobile-menu d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
                        <i class="icon icon_burger"></i>
                        <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 cata-left-menu">
                    <div class="holder">
                        <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
                        <p class="h1">Каталог</p>
                        <%- include elements/left-menu.ejs %>
                        <p class="h3 mt-5">Важная информация</p>
                        <%- include elements/left-info.ejs %>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="white-block">
                        <h2>Оформление уведомления на товар:</h2>
                        <div class="notify-block d-flex align-items-center">
                            <a href="#"><img class="mr-3" src="./assets/example/product.png" alt="6058 Italeri 1/72 Fanteria Inglese e Scozzese"></a>
                            <a href="#">6058 Italeri 1/72 Fanteria Inglese e Scozzese</a>
                        </div>
                        <form action="">
                            <div class="row mt-5">
                                <div class="col-lg-4 mb-3">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" required placeholder="Имя *">
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" required placeholder="Email *">
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="form-group">
                                        <input type="phone" name="phone" class="form-control" placeholder="Телефон">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn red cart d-inline-block w-auto m-auto px-5" value="Отправить">
                            </div>
                        </form>
                        <hr>
                        <p><span class="font-weight-bold">Внимание</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="footer">
    <%- include modules/footer.ejs %>
</section>

</body>
</html>
