<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <div class="sliderInner">
    <div class="carousel-inner">
      <div class="container">
        <div class="bread">
          <a href="/">Главная</a>  »  Способы доставки
        </div>
        <h1 class="slider-text">
          ОПТОВИКАМ
        </h1>
      </div>
      <img class="d-block w-100" src="./assets/img/headers/opt.jpg" alt="">
    </div>
  </div>




  <section id="content">
    <div class="bg-gray py-3 mobile-menu d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
              <i class="icon icon_burger"></i>
              <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 cata-left-menu">
            <div class="holder">
              <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
              <p class="h1">Каталог</p>
              <%- include elements/left-menu.ejs %>
              <p class="h3 mt-5">Важная информация</p>
              <%- include elements/left-info.ejs %>
            </div>
          </div>
          <div class="col-lg-9">
          <div class="white-block">
            <p class="txt_30px font-weight-bold text-uppercase">Если Вы <br> хотите стать нашим партнером, то:</p>
            <ol class="my-5 big">
              <li>Зарегистрируйтесь на сайте i-modelist.ru,</li>
              <li>На электронную почту zakaz@i-modelist.ru пришлите запрос о оптовых закупках, укажите Ваш номер телефона,</li>
              <li>С Вами свяжется наш менеджер,</li>
              <li>В Вашу учетную запись на сайте i-modelist.ru будет проставлена пометка «оптовик», после этого цены на сайте изменятся на оптовые,</li>
              <li>В разделе «Личный кабинет» Вы сможете скачать текущий прайс-лист, где Вы сможете увидеть две стоимости товара: оптовую и нашу розничную.</li>
              <li>Перед заказом мы попросим Вас выслать реквизиты вашей организации.</li>
              <li>После вашего заказа Вам будет выслан счет для оплаты заказа.</li>
              <li>Доставка заказа осуществляется транспортной компанией «Деловые линии» или почтой РФ.</li>
              <li>Вы можете оплатить заказ на наш расчетный счет.﻿</li>
            </ol>
            <p class="txt_30px font-weight-bold text-uppercase">Будем рады <br> сотрудничеству с Вами!</p>
          </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
