<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/preheader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>

  <div class="sliderInner">
    <div class="carousel-inner">
      <div class="container">
        <div class="bread">
          <a href="/">Главная</a>  »  Способы доставки
        </div>
        <h1 class="slider-text">
          ПРЕТЕНЗИИ
        </h1>
      </div>
      <img class="d-block w-100" src="./assets/img/headers/pretenzii.jpg" alt="">
    </div>
  </div>




  <section id="content">
    <div class="bg-gray py-3 mobile-menu d-md-none">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <a href="#" data-toggle-cata-left-menu class="d-flex align-items-center">
              <i class="icon icon_burger"></i>
              <div class="ml-3 txt_22px text-uppercase font-weight-bold txt-c-black">Каталог</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 cata-left-menu">
            <div class="holder">
              <a href="#" data-toggle-cata-left-menu class="icon icon_close"></a>
              <p class="h1">Каталог</p>
              <%- include elements/left-menu.ejs %>
              <p class="h3 mt-5">Важная информация</p>
              <%- include elements/left-info.ejs %>
            </div>
          </div>
          <div class="col-lg-9">
            <p class="txt_22px font-weight-bold">Претензии по качеству приобретенного товара или комплектности заказа принимаются по электронной почте
              <a class="txt_22px font-weight-bold" href="mailto:pretenziya-imodelist@mail.ru">pretenziya-imodelist@mail.ru</a></p>
            <p class="txt_30px font-weight-bold text-uppercase my-5">Обязательным к указанию является : </p>
            <ol class="big">
              <li>Ваше ФИО , контактный телефон и номер заказа</li>
              <li>Артикул бракованной или некачественной позиции</li>
              <li>Фотографии и описание возникшей ситуации (какая деталь отсутствует, согласно инструкции)</li>
              <li>Если имеет место быть несоответствие вложения, необходимо указать подробно, что именно отличается от перечня товара в накладной.</li>
            </ol>
            <p class="txt_22px">Все претензии по качеству пересылаются производителям товаров, поэтому убедительно просим оформлять заявку согласно вышеуказанной формы.</p>
            <p class="txt_22px">Мы обязательно свяжемся с Вами и постараемся решить возникший вопрос в кратчайшие сроки.</p>
            <p class="txt_30px font-weight-bold text-uppercase mt-5">С уважением, администрация магазина "Я-Моделист"</p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="footer">
    <%- include modules/footer.ejs %>
  </section>

</body>
</html>
